.topbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topbar header {
    margin: 0;
    padding: 0;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link-item:not(:last-child) {
    padding-right: 2rem;
}

.nav-link-text {
    color: #4c566a;
    font-size: 1.4rem;
}

.site-title {
    font-size: 3rem;
    color: #4c566a;
    font-weight: 700;
    margin-right: 3rem;
}