/* units taken from https://stackoverflow.com/a/7354648 */
.container {
  padding: 8px;
  margin: auto;
}

@media (min-width:1025px) { 
  .container {
    max-width: 70%;
  }
} 
@media (min-width:1281px) { 
  .container {
    max-width: 50%;
  }
}

.heading {
  /* color: rebeccapurple; */
  color: #4c566a;
  font-size: 2rem;
  text-align: center;
}

.info {
  color: #434c5e;
}

.postBody {
  color: #434c5e;
}

.postBody > pre {
  background-color: #d8dee9;
  padding: 1em;
  border-radius: 4px;
  overflow-x: auto;
}
