.heading {
    /* color: rebeccapurple; */
    color: #4c566a;
    font-size: 2rem;
    text-align: center;
}
  
.info {
    color: #434c5e;
}
  
.postBody {
    color: #434c5e;
}

.postBody > pre {
    background-color: #d8dee9;
    padding: 1em;
    border-radius: 4px;
    overflow-x: auto;
}
